<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Security Bootstrap</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar bg-dark navbar-expand-sm bg-body-tertiary" data-bs-theme="dark" th:object="${userFromDetails}">
    <div class="container-fluid">
        <span class="navbar-brand mx-0 mb-0 h1 top-menu" th:text="${userFromDetails.getEmail()}"></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto  mx-0 mb-0 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a class="nav-link active ms-0" aria-current="page">with roles: </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active d-inline-block ps-0 ms-0" aria-current="page"
                       th:each="r : ${userFromDetails.getRoles()}" th:text="${r.getShortName()}"></a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
                <li class="nav-item">
                    <form th:method="POST" th:action="@{/logout}">
                        <button type="submit" class="btn bg-body-tertiary btn-xs logout">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="conteiner-fluid">
    <div class="row g-0">
        <div class="d-flex align-items-start">
            <div class="col-2 ps-0 mt-3">
                <div class="conteiner-fluid">
                    <div class="nav flex-column nav-pills me-0" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link text-start active" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#admin-panel" type="button" role="tab" aria-controls="admin-panel"
                                aria-selected="true">Admin
                        </button>
                        <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#user-panel" type="button" role="tab" aria-controls="user-panel"
                                aria-selected="false">User
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-10 bg-light admin-panel tab-content" id="v-pills-tabContent">

                <div class="container px-4 mt-3 tab-pane fade show active" id="admin-panel" role="tabpanel"
                     aria-labelledby="admin-panel" tabindex="0">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs mb-auto mt-4 me-2" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#users-table-tab-pane" type="button" role="tab"
                                    aria-controls="users-table-tab-pane" aria-selected="true">Users table
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#new-user-tab-pane" type="button" role="tab"
                                    aria-controls="new-user-tab-pane" aria-selected="false">New user
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="users-table-tab-pane" role="tabpanel"
                             aria-labelledby="home-tab" tabindex="0">
                            <div class="conteiner border me-2">
                                <div class="row g-0 border-bottom bg-secondary-subtle">
                                    <div class="container">
                                        <h5 class="mx-3 my-3">All users</h5>
                                    </div>
                                </div>
                                <div class="row  g-0 bg-body">
                                    <div class="container mt-4 px-4">

                                        <table class="table table-striped border-top mb-5">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getUsername()}"></td>
                                                <td th:text="${user.getEmail()}"></td>
                                                <td>
                                                    <div class="d-inline-block"
                                                         th:each="roles : ${user.getRoles()}"
                                                         th:text="${roles.getShortName()}"></div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                            th:attr="data-bs-target=${'#editUserModal'+ user.id}">Edit
                                                    </button>

                                                    <!--  Модальное окно Edit  -->
                                                    <div class="modal fade" th:id="'editUserModal' + ${user.id}"
                                                         aria-labelledby="editUserModalLabel" tabindex="-1"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5"
                                                                        id="editUserModalLabel">Edit user</h1>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Закрыть"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:method="PUT" th:action="@{/admin}">
                                                                        <div class="container text-center mt-4 mb-4 px-4">
                                                                            <div class="row">
                                                                                <div class="col-md-6 offset-md-3">
                                                                                    <div class="mb-3">
                                                                                        <label for="edit-id"
                                                                                               class="form-label">ID</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               th:value="${user.getId()}"
                                                                                               th:name="id"
                                                                                               id="edit-id" readonly>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="edit-name"
                                                                                               class="form-label">Username</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               th:value="${user.getUsername()}"
                                                                                               th:name="username"
                                                                                               id="edit-name">
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="edit-password"
                                                                                               th:placeholder="${user.getPassword()}"
                                                                                               class="form-label">Password</label>
                                                                                        <input type="password"
                                                                                               class="form-control"
                                                                                               th:name="password"
                                                                                               id="edit-password"
                                                                                               placeholder="Password">
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="edit-email"
                                                                                               class="form-label">Email</label>
                                                                                        <input type="email"
                                                                                               class="form-control"
                                                                                               th:value="${user.getEmail()}"
                                                                                               th:name="email"
                                                                                               id="edit-email">
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="edit-role"
                                                                                               class="form-label">Role</label>
                                                                                        <select class="form-select"
                                                                                                size="2"
                                                                                                multiple
                                                                                                aria-label="role"
                                                                                                th:value="${user.getRoles()}"
                                                                                                th:name="roles"
                                                                                                id="edit-role">
                                                                                            <option th:each="r : ${allRoles}"
                                                                                                    th:value="${r.getId()}"
                                                                                                    th:text="${r.getShortName()}"
                                                                                                    th:selected="${r.getId() == 1}">
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">Edit
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                            th:attr="data-bs-target=${'#deleteUserModal'+ user.id}">
                                                        Delete
                                                    </button>

                                                    <div class="modal fade" th:id="'deleteUserModal' + ${user.id}"
                                                         aria-labelledby="deleteUserModalLabel" tabindex="-1"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5"
                                                                        id="deleteUserModalLabel">Delete User</h1>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Закрыть"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:method="DELETE"
                                                                          th:action="@{/admin(id=${user.getId()})}">
                                                                        <div class="container text-center mt-4 mb-4 px-4">
                                                                            <div class="row">
                                                                                <div class="col-md-6 offset-md-3">
                                                                                    <div class="mb-3">
                                                                                        <label for="delete-id"
                                                                                               class="form-label">ID</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               th:value="${user.getId()}"
                                                                                               th:name="id"
                                                                                               id="delete-id" readonly>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="delete-name"
                                                                                               class="form-label">Username</label>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               th:value="${user.getUsername()}"
                                                                                               th:name="username"
                                                                                               id="delete-name"
                                                                                               readonly>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="delete-email"
                                                                                               class="form-label">Email</label>
                                                                                        <input type="email"
                                                                                               class="form-control"
                                                                                               th:value="${user.getEmail()}"
                                                                                               th:name="email"
                                                                                               id="delete-email"
                                                                                               readonly>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="delete-role"
                                                                                               class="form-label">Role</label>
                                                                                        <select class="form-select"
                                                                                                size="2"
                                                                                                multiple
                                                                                                aria-label="delete-role"
                                                                                                th:value="${user.getRoles()}"
                                                                                                th:name="roles"
                                                                                                id="delete-role"
                                                                                                readonly>
                                                                                            <option th:each="r : ${allRoles}"
                                                                                                    th:value="${r.getId()}"
                                                                                                    th:text="${r.getShortName()}"
                                                                                                    th:selected="${r.getId() == 1}"></option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-bs-dismiss="modal">Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-danger">Delete
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="new-user-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                             tabindex="0">
                            <div class="conteiner border me-2">
                                <div class="row g-0 border-bottom bg-secondary-subtle">
                                    <div class="container">
                                        <h5 class="mx-3 my-3">Add new user</h5>
                                    </div>
                                </div>
                                <div class="row  g-0 bg-body">
                                    <div class="container text-center mt-4 mb-4 px-4">
                                        <div class="row">
                                            <div class="col-md-3 offset-md-4">

                                                <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                                    <div class="mb-3">
                                                        <input th:field="*{id}" type="hidden" class="form-control"
                                                               id="id">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label">Username</label>
                                                        <input th:field="*{username}" type="text" class="form-control"
                                                               id="name" placeholder="Username">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="password" class="form-label">Password</label>
                                                        <input th:field="*{password}" type="password"
                                                               class="form-control"
                                                               id="password" placeholder="Password">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input th:field="*{email}" type="email" class="form-control"
                                                               id="email" placeholder="Email">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="role" class="form-label">Role</label>
                                                        <select th:object="${user}" th:field="*{roles}"
                                                                class="form-select"
                                                                size="2"
                                                                multiple aria-label="role"
                                                                id="role">
                                                            <option th:each="r : ${allRoles}" th:value="${r.getId()}"
                                                                    th:text="${r.getShortName()}"></option>
                                                        </select>
                                                    </div>

                                                    <button type="submit" class="btn btn-success btn-lg mt-2">Add new
                                                        user
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container px-4 mt-3 tab-pane fade" id="user-panel" role="tabpanel"
                     aria-labelledby="user-panel" tabindex="0">
                    <h1>User infomation-page</h1>
                    <div class="container border mt-4 px-0">
                        <div class="row g-0 border-bottom bg-secondary-subtle">
                            <div class="container">
                                <h5 class="mx-3 my-3">About user</h5>
                            </div>
                        </div>
                        <div class="row  g-0 bg-body">
                            <div class="container mt-4 px-4">

                                <table class="table table-striped border-top" th:object="${userFromDetails}">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${userFromDetails.getId()}"></td>
                                        <td th:text="${userFromDetails.getUsername()}"></td>
                                        <td th:text="${userFromDetails.getEmail()}"></td>
                                        <td>
                                            <div class="d-inline-block" th:each="r : ${userFromDetails.getRoles()}"
                                                 th:text="${r.getShortName()}"></div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>